{% extends "base.html" %}
{% load humanize %}
{% block area_titulo %}
	<div class="titleArea">
		<div class="wrapper">
			<div class="pageTitle">
				<h5>Proyecciones</h5>
				<span>Ingrese los parametros para realizar la proyección</span>
			</div>
			<div class="clear"></div>
		</div>
	</div>
{% endblock %}
{% block content %}
<script type="text/javascript">
	function submitform(){
	    document.forms["form"].submit();
	}
</script>
<form action="." id="form" method="POST" class="form">
	<fieldset>
		<div class="widget">
			<div class="title"><img src="/assets/images/icons/dark/list.png" alt="" class="titleIcon" /><h6>Ingrese los parametros de consulta</h6>
			</div>
			<div class="formRow">
				<label>Sucursal:</label>
				<div class="formRight">
					<select name="sucursal" id="id_sucursal">
						{% for sucursal in sucursales %}
						<option value="{{ sucursal.id }}">{{ sucursal.nombre }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="clear"></div>
			</div>
			<div class="formRow">
				<label>Producto:</label>
				<div class="formRight">
					<select name="producto" id="id_producto">
						{% for producto in productos %}
						<option value="{{ producto.id }}">{{ producto.nombre }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="clear"></div>
			</div>
			<div class="formRow">
				<label>Fecha Inicio:</label>
				<div class="formRight">
					<input type="text" id="fecha_inicio" name="fecha_inicio" class="datepicker" />
				</div>
				<div class="clear"></div>
			</div>
			<div class="formRow">
				<label>fecha Término:</label>
				<div class="formRight">
					<input type="text" id="fecha_termino" name="fecha_termino" class="datepicker" />
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<a href="javascript:submitform()" title="Generar Reporte y mostrarlo debajo" class="wButton orangewB m10 tipS"><span>Generar Reporte</span></a>
		<a href="/exportar_PDF" title="Generar reporte y exportarlo a PDF" class="wButton redwB ml15 m10 tipS"><span>Exportar a PDF</span></a>

	</fieldset>
</form>

{% if grafico %}
	<!-- <img src="/media/graficos/{{ grafico }}" /> -->
{% endif %}

<script>
	$(function () {
    	var producto = [];
    
    	{% for venta in cant_venta  %}
	        producto.push([ {{ forloop.counter }}, {{ venta }} ]);
    	{% endfor %}

    var plot = $.plot($(".chart"),
           [ { data: producto, label: "Producto"} ], {
               series: {
                   lines: { show: true },
                   points: { show: true }
               },
               grid: { hoverable: true, clickable: true },
               yaxis: { min: 1, max: {{ venta_maxima }} },
			   xaxis: { min: {{ periodos.inicio }}, max: {{ periodos.termino }} }
             });
	});
</script>
{% if grafico %}
<!-- Lines chart -->
	<div class="widget chartWrapper">
    	<div class="title"><img src="/assets/images/icons/dark/graph.png" alt="" class="titleIcon" /><h6>Proyección de Venta</h6></div>
        <div class="body"><div class="chart"></div></div>
    </div>
 <!-- Reporte y detalle ventas -->   
    <div class="widget">
            <div class="title"><img src="/assets/images/icons/dark/frames.png" alt="" class="titleIcon" />
            <h6>Detalle de las ventas por periodos</h6></div>
            <table cellpadding="0" cellspacing="0" width="100%" class="sTable" id="res1">
                <thead>
                    <tr>
                        <td class="sortCol"><div>Periodo<span></span></div></td>
                        <td class="sortCol"><div>Cantidad Ventas<span></span></div></td>
                    </tr>
                </thead>
                <tbody>
                	{% for venta in cant_venta %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ venta|floatformat:"0" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
{% endif %}
{% endblock content %}

