{% extends "base.html" %}

{% block area_titulo %}
	<div class="titleArea">
		<div class="wrapper">
			<div class="pageTitle">
				<h5>Lista de Usuarios</h5>
				<span>sección en la cual puede ver la lista de usuarios actualmente registrados en el sitio</span>
			</div>
			<div class="clear"></div>
		</div>
	</div>
{% endblock %}

{% block content %}

{% if user.is_staff %}
		<div class="widget">
            <div class="title"><img src="/assets/images/icons/dark/frames.png" alt="" class="titleIcon" />
            <h6>Lista de Usuarios registrados</h6></div>
            <table cellpadding="0" cellspacing="0" width="100%" class="sTable" id="res1">
                <thead>
                    <tr>
                        <td class="sortCol"><div>Nombre<span></span></div></td>
                        <td class="sortCol"><div>Apellido<span></span></div></td>
                        <td class="sortCol"><div>Usuario<span></span></div></td>
                        <td class="sortCol"><div>Email<span></span></div></td>
                        <td class="sortCol"><div>Activo<span></span></div></td>
                        <td class="sortCol"><div>Acciones<span></span></div></td>
                    </tr>
                </thead>
                <tbody>
                	{% for usuario in usuarios %}
                    <tr>
                        <td>{{ usuario.first_name }}</td>
                        <td>{{ usuario.last_name }}</td>
                        <td>{{ usuario.username }}</td>
                        <td>{{ usuario.email }}</td>
                        <td>{{ usuario.is_active }}</td>
                        <td><a href="/usuario/{{ usuario.id }}"><img src="/assets/images/icons/dark/pencil.png" /></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
{% else %}
	No tiene permisos para ingresar a ésta sección
{% endif %}

{% endblock content %}
