<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>proyecta - Software de Calculos Estadisticos</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<link href="/assets/css/main.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="/assets/css/minichat.css" type="text/css" media="screen" title="no title" charset="utf-8"/>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
		<script src="/assets/js/minichat.js" type="text/javascript" charset="utf-8"></script>

		<script type="text/javascript" src="/assets/js/plugins/spinner/ui.spinner.js"></script>
		<script type="text/javascript" src="/assets/js/plugins/spinner/jquery.mousewheel.js"></script>

		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

		<script type="text/javascript" src="/assets/js/plugins/charts/excanvas.min.js"></script>
		<script type="text/javascript" src="/assets/js/plugins/charts/jquery.flot.js"></script>
		<script type="text/javascript" src="/assets/js/plugins/charts/jquery.flot.orderBars.js"></script>
		<script type="text/javascript" src="/assets/js/plugins/charts/jquery.flot.pie.js"></script>
		<script type="text/javascript" src="/assets/js/plugins/charts/jquery.flot.resize.js"></script>
		<script type="text/javascript" src="/assets/js/plugins/charts/jquery.sparkline.min.js"></script>

		<script type="text/javascript" src="/assets/js/plugins/forms/uniform.js"></script>
		<script type="text/javascript" src="/assets/js/plugins/forms/jquery.cleditor.js"></script>
		<script type="text/javascript" src="/assets/js/plugins/forms/jquery.validationEngine-en.js"></script>
		<script type="text/javascript" src="/assets/js/plugins/forms/jquery.validationEngine.js"></script>
		<script type="text/javascript" src="/assets/js/plugins/forms/jquery.tagsinput.min.js"></script>
		<script type="text/javascript" src="/assets/js/plugins/forms/autogrowtextarea.js"></script>
		<script type="text/javascript" src="/assets/js/plugins/forms/jquery.maskedinput.min.js"></script>
		<script type="text/javascript" src="/assets/js/plugins/forms/jquery.dualListBox.js"></script>
		<script type="text/javascript" src="/assets/js/plugins/forms/jquery.inputlimiter.min.js"></script>
		<script type="text/javascript" src="/assets/js/plugins/forms/chosen.jquery.min.js"></script>

		<script type="text/javascript" src="/assets/js/plugins/wizard/jquery.form.js"></script>
		<script type="text/javascript" src="/assets/js/plugins/wizard/jquery.validate.min.js"></script>
		<script type="text/javascript" src="/assets/js/plugins/wizard/jquery.form.wizard.js"></script>

		<script type="text/javascript" src="/assets/js/plugins/uploader/plupload.js"></script>
		<script type="text/javascript" src="/assets/js/plugins/uploader/plupload.html5.js"></script>
		<script type="text/javascript" src="/assets/js/plugins/uploader/plupload.html4.js"></script>
		<script type="text/javascript" src="/assets/js/plugins/uploader/jquery.plupload.queue.js"></script>

		<script type="text/javascript" src="/assets/js/plugins/tables/datatable.js"></script>
		<script type="text/javascript" src="/assets/js/plugins/tables/tablesort.min.js"></script>
		<script type="text/javascript" src="/assets/js/plugins/tables/resizable.min.js"></script>

		<script type="text/javascript" src="/assets/js/plugins/ui/jquery.tipsy.js"></script>
		<script type="text/javascript" src="/assets/js/plugins/ui/jquery.collapsible.min.js"></script>
		<script type="text/javascript" src="/assets/js/plugins/ui/jquery.prettyPhoto.js"></script>
		<script type="text/javascript" src="/assets/js/plugins/ui/jquery.progress.js"></script>
		<script type="text/javascript" src="/assets/js/plugins/ui/jquery.timeentry.min.js"></script>
		<script type="text/javascript" src="/assets/js/plugins/ui/jquery.colorpicker.js"></script>
		<script type="text/javascript" src="/assets/js/plugins/ui/jquery.jgrowl.js"></script>
		<script type="text/javascript" src="/assets/js/plugins/ui/jquery.breadcrumbs.js"></script>
		<script type="text/javascript" src="/assets/js/plugins/ui/jquery.sourcerer.js"></script>

		<script type="text/javascript" src="/assets/js/plugins/calendar.min.js"></script>
		<script type="text/javascript" src="/assets/js/plugins/elfinder.min.js"></script>

		<script type="text/javascript" src="/assets/js/custom.js"></script>

		<script type="text/javascript" src="/assets/js/charts/chart.js"></script>

		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- Le fav and touch icons -->
		<link rel="shortcut icon" href="/media/ico/favicon.ico">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/media/ico/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/media/ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/media/ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="/media/ico/apple-touch-icon-57-precomposed.png">
	</head>


<body class="nobg loginPage">

<!-- Top fixed navigation -->
<div class="topNav">
    <div class="wrapper">
        <div class="userNav">
            <ul>
                <li><a href="#" title=""><img src="/assets/images/icons/topnav/mainWebsite.png" alt="" /><span>Sitio web</span></a></li>
                <li><a href="#" title=""><img src="/assets/images/icons/topnav/profile.png" alt="" /><span>Contacto</span></a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>


<!-- Main content wrapper -->
<div class="loginWrapper">
    <div class="loginLogo"><img src="/assets/images/loginLogo.png" alt="" /></div>
	{% if form.errors %}
		<div class="nNote nFailure hideit">
            <p>Oops. haz ingresado un Usuario/Contraseña incorrecto.</p>
        </div>
	{% endif %}
    <div class="widget">
        <div class="title"><img src="/assets/images/icons/dark/files.png" alt="" class="titleIcon" /><h6>Inicio de Sesion</h6></div>
        <form action="" method="post" id="validate" class="form">
            <fieldset>
                <div class="formRow">
                    <label for="login">Username:</label>
                    <div class="loginInput"><input type="text" name="username" class="validate[required]" value="" id="username"></div>
                    <div class="clear"></div>
                </div>
                
                <div class="formRow">
                    <label for="pass">Password:</label>
                    <div class="loginInput"><input type="password" name="password"class="validate[required]" value="" id="password"></div>
                    <div class="clear"></div>
                </div>
                
                <div class="loginControl">
                    <div class="rememberMe"><input type="checkbox" id="remMe" name="remMe" /><label for="remMe">Remember me</label></div>
                    <input type="submit" value="Ingresar" class="dredB logMeIn" />
                    <div class="clear"></div>
                </div>
                <input type="hidden" name="next" value="{{ next|escape }}" />
    			{% csrf_token %}
            </fieldset>
        </form>

    </div>
</div>    

<!-- Footer line -->
<div id="footer">
    <div class="wrapper">Proyecta 2012 - Todos los derechos reservados</div>
</div>
</body>
</html>