{% extends "base.html" %}
{% block content %}
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tortor mi, porttitor sed dapibus ut, imperdiet sit amet velit. Donec eget nisl malesuada diam suscipit semper. Duis non orci in risus consectetur pretium. Aenean mi dolor, commodo et eleifend non, ultricies in nisl. Quisque sit amet elit eu turpis imperdiet porttitor. Fusce vel ligula ipsum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam nec augue lacus. Cras quis sapien urna. In hac habitasse platea dictumst. Quisque imperdiet condimentum vulputate. Duis a mauris sapien, sed accumsan arcu. Quisque lacus erat, pretium a hendrerit at, ultricies sodales est. Phasellus vitae velit id est dictum faucibus ornare ac lectus. Integer urna massa, feugiat eu fermentum sed, luctus eget ligula. Nullam ullamcorper tempus accumsan.</p>
    
    
    <form action="." method="POST" class="horizontal well">
    <fieldset>
    <legend>Seleccionar parametros de consulta</legend>
    <div class="control-group">
      <label class="control-label" for="input01">Text input</label>
      <div class="controls">
        <table>
            {{ form.as_table }}
        </table>
      </div>
    </div>
    
    <div class="form-actions">
      	
        <div class="btn-group dropup">
        <input type="submit" value="Generar Reporte" class="btn btn-primary">
        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>

        <ul class="dropdown-menu">
          <li><a href="#">Exportar a PDF</a></li>
          <li><a href="#">Exportar a X</a></li>
        </ul>
      </div>

    </div> 
  </fieldset>
</form>

<div class="reporte"> 
  {% for reporte in reporte_list %}
  <div class="">
    <h2>{{ reporte.name }}</h2>

    <ul class="thumbnails">
      
      <li class="span3">
        <a href="#" class="thumbnail">
          <img src="http://placehold.it/260x180" alt="">
        </a>
      </li>

      <li class="span9">
        <p>{% block reporte.descripcion %}
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tortor mi, porttitor sed dapibus ut, imperdiet sit amet velit. Donec eget nisl malesuada diam suscipit semper. Duis non orci in risus consectetur pretium. Aenean mi dolor, commodo et eleifend non, ultricies in nisl. Quisque sit amet elit eu turpis imperdiet porttitor. Fusce vel ligula ipsum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam nec augue lacus. Cras quis sapien urna. In hac habitasse platea dictumst. Quisque imperdiet condimentum vulputate. Duis a mauris sapien, sed accumsan arcu. Quisque lacus erat, pretium a hendrerit at, ultricies sodales est. Phasellus vitae velit id est dictum faucibus ornare ac lectus. Integer urna massa, feugiat eu fermentum sed, luctus eget ligula. Nullam ullamcorper tempus accumsan.
        {% endblock reporte.descripcion %}</p>
      </li>
      
    </ul>
  </div>
  <hr>
  {% endfor %}
</div>

{% endblock content %}

